@tailwind base;
@tailwind components;
@tailwind utilities;

summary {
  list-style: none;
}

details > summary::after {
  content: '\0025bf';
  margin-left: 4px;
}

details[open] > summary::after {
  content: '\0025b5';
  margin-left: 4px;
}

input {
  border: 1px solid black;
  outline: none !important;
  padding: 0 4px;
}

input[type=image] {
  border: none;
  padding: 0;
}

select {
  background-color: white;
  border: 1px solid black;
  height: 26px;
  padding: 0 4px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
